{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>StartTime</th>
                <th>Title</th>
                <th>Description</th>
                <th>IsHidden</th>
                <th>IsAchieved</th>
                <th>Priority</th>
                <th>Desire</th>
                <th>Concentration</th>
                <th>Workload</th>
                <th>Deadline</th>
                <th>Father</th>
                <th>Workspace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.startDate ? task.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ task.startTime ? task.startTime|date('H:i:s') : '' }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.isHidden ? 'Yes' : 'No' }}</td>
                <td>{{ task.isAchieved ? 'Yes' : 'No' }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.desire }}</td>
                <td>{{ task.concentration }}</td>
                <td>{{ task.workload }}</td>
                <td>{{ task.deadline ? task.deadline|date('Y-m-d') : '' }}</td>
                <td>
                    {% if task.father %}
                        <a href="{{ path('app_task_show', { id: task.father.id }) }}">
                            {{ task.father.title }}
                        </a>
                    {% else %}
                        No father
                    {% endif %}
                </td>
                <td>
                    {% if task.workspace %}
                        <a href="{{ path('app_workspace_show', { id: task.workspace.id }) }}">
                            {{ task.workspace.name }}
                        </a>
                    {% else %}
                        No father
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Create new</a>
{% endblock %}
